# Section 1: Setting UP DB

In [1]:
#Import librarys
import mysql.connector as connector

In [2]:
#Creating a connection
connection=connector.connect(user="root", password="M@lagua1", port=3306, host="localhost")

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute("show databases;")
result=cursor.fetchall()
for r in result:
    print(r)

('information_schema',)
('little_lemon',)
('mysql',)
('performance_schema',)
('sys',)

In [5]:
#Creating the Database
create_db="""create database if not exists little_lemon_db;"""
use_db="""use little_lemon_db"""
cursor.execute(create_db)
cursor.execute(use_db)
print(f"Cursor is connecting to '{connection.database}' database.")

Cursor is connecting to 'little_lemon_db' database.

In [7]:
#Create tables
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (100),
Role VARCHAR (100),
Address VARCHAR (200),
Contact_Number INT,
Email VARCHAR (100),
Annual_Salary VARCHAR (100)
);"""

In [8]:
#create table menuitem
cursor.execute(create_menuitem_table)

#create table menu
cursor.execute(create_menu_table)

#create table booking
cursor.execute(create_booking_table)

#create table orders
cursor.execute(create_orders_table)

#create table employees
cursor.execute(create_employees_table)

In [9]:
#Insert Data
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [10]:
#Populate menuitems table
cursor.execute(insert_menuitems)
connection.commit()

#Populate menus table
cursor.execute(insert_menu)
connection.commit()

#Populate bookings
cursor.execute(insert_bookings)
connection.commit()

#Populate orders table
cursor.execute(insert_orders)
connection.commit()

#Populate Employees table
cursor.execute(insert_employees)
connection.commit()

## Creatintg a Connection Pool and Stored Procedures

In [11]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [12]:
dbconfig={"database":"little_lemon_db",
         "user":"root",
         "password":"M@lagua1"}

In [13]:
try:
    pool=MySQLConnectionPool(pool_name="pool_a",
                            pool_size=2,
                            **dbconfig)
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_a
The pool size is: 2

###  Implement a stored procedure called PeakHours

In [14]:
procedure1=""" CREATE PROCEDURE PeakHours()
BEGIN
select concat(hour(Bookingslot), ":",minute(BookingSlot)) as Hour, count(BookingID) as NroOfBookings
from bookings
group by concat(hour(Bookingslot), ":",minute(BookingSlot))
order by count(BookingID) desc;
END
"""

In [15]:
cursor.execute(procedure1)
cursor.callproc("PeakHours")

()

In [16]:
results=next(cursor.stored_results())
dataset=results.fetchall()
print(results.column_names)
for data in dataset:
    print(data)

('Hour', 'NroOfBookings')
('19:0', 2)
('15:0', 1)
('17:30', 1)
('18:30', 1)
('20:0', 1)

### Implement a stored procedure GuestStatus

In [17]:
procedure2="""CREATE PROCEDURE GuestStatus()
BEGIN
select concat(a.guestfirstname," ", a.guestlastname) as GuestFullName, 
CASE
when b.Role in ("Manager", "Assistant Manager") then "Ready to pay"
when b.Role in ("Head Chef") then "Ready to serve"
when b.Role in ("Assistant Chef") then "Preparing Order"
when b.Role in ("Head Waiter") then "Order served"
else "Order is null"
END as Guest_Status
from bookings as a
left join employees as b
on a.EmployeeID = b.EmployeeID;
END
"""

In [18]:
cursor.execute(procedure2)
cursor.callproc("GuestStatus")

()

In [19]:
results=next(cursor.stored_results())
dataset=results.fetchall()
print(results.column_names)
for data in dataset:
    print(data)

('GuestFullName', 'Guest_Status')
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

In [20]:
cursor.close()
connection.close()

# SECTION 2: SALES REPORT

### Task 1

In [21]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [32]:
connection=connector.connect(user="root", password="M@lagua1", port=3306, host="localhost")
cursor=connection.cursor()
cursor.execute("use little_lemon_db;")

In [22]:
dbconfig={"database":"little_lemon_db",
         "user":"root",
         "password":"M@lagua1"}

In [23]:
try:
    pool=MySQLConnectionPool(pool_name="pool_b",
                            pool_size=2,
                            **dbconfig)
    print("The connection pool is created with a name: ", pool.pool_name)
    print("The pool size is:", pool.pool_size)
except Error as er:
    print("Error code:", er.errno)
    print("Error message:", er.msg)

The connection pool is created with a name:  pool_b
The pool size is: 2

### Task 2

In [24]:
# Adding new data and connections to the DB
try:
    connection1=pool.get_connection()
    connection2=pool.get_connection()
    
    #Insert data for guest1
    cursor1=connection1.cursor()
    query1="""INSERT INTO bookings (TableNo, guestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES
    (8, "Anees", "Java", "18:00", 6);"""
    cursor1.execute(query1)
    connection1.commit()

    #Insert Data for guest2
    cursor2=connection2.cursor()
    query2="""INSERT INTO bookings (TableNo, guestFirstName, GuestLastName, BookingSlot, EmployeeID)
    VALUES
    (5, "Bald", "Vin", "19:00", 6);"""
    cursor2.execute(query2)
    connection2.commit()
    
    try:
        #create a new connection
        connection3=connector.connect(user="root", password="M@lagua1", port=3306, host="localhost")
        #Add connection to the pool
        pool.add_connection(cnx=connection3)
        print("A new connection is added to the pool")
        cursor3=connection3.cursor()
        cursor3.execute("""use little_lemon_db""")
        query3="""INSERT INTO bookings (TableNo, guestFirstName, GuestLastName, BookingSlot, EmployeeID)
        VALUES
        (12, "Jay", "Kon", "19:30", 6);"""
        cursor3.execute(query3)
        connection3.commit()
        cursor3.close()
        connection3.close()
    except Error as e:
        print("Error ocurred:",e)
    
    cursor1.close()
    cursor2.close()
    connection1.close()
    connection2.close
        
except Error as e:
    print("An error ocurred:", e)

A new connection is added to the pool

### Create a report containing the following information:

The name and EmployeeID of the Little Lemon manager.

The name and role of the employee who receives the highest salary.

The number of guests booked between 18:00 and 20:00.

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [27]:
Lemon_Manager="""select Name from employees where Role = 'Manager';"""
highest_salary="""select Name, Role from employees order by Annual_Salary desc limit 1;"""
nro_guest="""select count(BookingID) from bookings where BookingSlot between '18:00' and '20:00';"""
waiting_seated="""select concat(a.GuestFirstName, " ", a.GuestLastName) as FullName, a.BookingID from bookings as a 
left join employees as b
on a.EmployeeID = b.EmployeeID
where b.Role = "Receptionist"
order by BookingSlot asc;"""

cursor.execute(Lemon_Manager)
result_Manager=cursor.fetchone()

cursor.execute(highest_salary)
result_salary=cursor.fetchone()
Name, Role = result_salary

cursor.execute(nro_guest)
result_guest=cursor.fetchone()

cursor.execute(waiting_seated)
result_waiting=cursor.fetchall()

print("REPORT")
print("-"*20)
print(f"The Manager of the Little Lemon is {result_Manager[0]}.")
print(f"The employee who receives the highest salary is {Name} and his role is {Role}.")
print(f"The number of guests booked betwen 18:00 and 20:00 are {result_guest[0]}.")
print("Waiting Guests:")
for r in result_waiting:
    guest, Booking_id=r
    print(f"FullName: {guest} and the Booking ID id {Booking_id}.")
print("-"*20)

REPORT
--------------------
The Manager of the Little Lemon is Mario Gollini.
The employee who receives the highest salary is Mario Gollini and his role is Manager.
The number of guests booked betwen 18:00 and 20:00 are 7.
Waiting Guests:
FullName: Anees Java and the Booking ID id 7.
FullName: Bald Vin and the Booking ID id 8.
FullName: Jay Kon and the Booking ID id 9.
--------------------

### Create a stored procedure named BasicSalesReport that returns the following statistics: 

Total sales

Average sale

Minimum bill paid

Maximum bill paid

In [34]:
procedure1="""CREATE PROCEDURE BasicSalesReport()
BEGIN
select sum(BillAmount) as Total_sale,
avg(BillAmount) as Average_sale, 
min(BillAmount) as Min_Bill_paid,
max(BillAmount) as Max_Bill_paid
from orders;
END
"""
cursor.execute(procedure1)
cursor.callproc("BasicSalesReport")

()

In [35]:
results=next(cursor.stored_results())
dataset=results.fetchall()
columnas=results.column_names
for data in dataset:
    print(f"Total Sales: {data[0]}")
    print(f"Average Sale: {data[1]}")
    print(f"Minimum Bill: {data[2]}")
    print(f"Maximum Bill: {data[3]}")
    
# Close the connection
cursor.close()
connection.close()

Total Sales: 243
Average Sale: 48.6000
Minimum Bill: 37
Maximum Bill: 86

### Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

Get a connection from the pool.

Create a buffered cursor.

Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

Returned the connection back to the pool.


The output should be as follows:

[BookingSlot]

[Guest_name]

[Assigned to: Employee Name [Employee Role]]

In [36]:
connection=pool.get_connection()
cursor=connection.cursor(buffered=True)

In [37]:
query4="""select a.BookingSlot, concat(a.GuestFirstName," ", a.GuestLastName) as Guest_Name, b.Name, b.Role 
from bookings as a 
left join employees as b
on a.EmployeeID = b.EmployeeID
order by a.BookingSlot asc
limit 3;"""

In [38]:
cursor.execute(query4)
results=cursor.fetchall()
for r in results:
    bookingSlot, Guest_Name, Employee_Name, Employee_role=r
    print(f"[{bookingSlot}]")
    print(f"[{Guest_Name}]")
    print(f"Assigned to: {Employee_Name} [{Employee_role}]")
    print("-"*30)

[15:00:00]
[Vanessa McCarthy]
Assigned to: Giorgos Dioudis [Head Chef]
------------------------------
[17:30:00]
[Marcos Romero]
Assigned to: Fatma Kaya [Assistant Chef]
------------------------------
[18:00:00]
[Anees Java]
Assigned to: John Millar [Receptionist]
------------------------------

In [39]:
cursor.close()
connection.close()